################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BallsBounce/bin/Debug
/BallsBounce/obj/Debug
/.vs/BallsBounce/v14
